@model IEnumerable<Punto_Venta_Inventario.Models.Producto>

   
<div class="text-center  mt-5">
    <div>
        <h1 class="display-4">Producto</h1>
    </div>
</div>

<h2>Lista de Productos</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Modelo</th>
            <th>Precio Venta</th>
            <th>Cantidad Inventario</th>
            <th>Categoría</th>
            <th>Marca</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var producto in Model)
        {
            <tr>
                <td>@producto.Nombre</td>
                <td>@producto.Descripcion</td>
                <td>@producto.Modelo</td>
                <td>@producto.PrecioVenta</td>
                <td>@producto.CantidadInventario</td>
            </tr>
        }
    </tbody>
</table>
