@model IEnumerable<Punto_Venta_Inventario.Models.Inventario>

@{
    ViewData["Title"] = "Index";
}

<div class="mt-3 text-center">
    <h1>
        Inventario
    </h1>
</div>

<div class="mt-3 mb-3 table-responsive">
    <table class="table display table table-bordered border-ligth compact hover nowrap" id="Inventario">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TipoMovimiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cantidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UsuarioCrea)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaCreacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UsuarioActualiza)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaActualizacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdFacturaCompra)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdFacturaVenta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdProductoNavigation)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoMovimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UsuarioCrea)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCreacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UsuarioActualiza)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaActualizacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdFacturaCompra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdFacturaVenta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdProductoNavigation.IdProducto)
                    </td>
               
                </tr>
            }
        </tbody>
    </table>
</div>

